@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
font-default: 'Montserrat', sans-serif;
color-accent: #1989d8;
color-default: #333;
color-dim: #cec1c1;
*/

header {
  font-family: Montserrat;
  font-size: 40px;
  text-align: center;
  padding: 29px 0 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 110px;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
}

.weather-card-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.weather-card-container .weather-card {
  font-family:Montserrat;
  border: 1px solid #ccc;
  text-align: center;
  width: 340px;
  border-radius: 5px;
  padding-top:15px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.weather-card-container .weather-card:nth-child(3n) {
  margin-right: 0;
}

.weather-card-container .weather-card .city {
  font-size: 36px;
  color: #1989d8;
  margin: 0 0 35px;
}

.weather-card-container .weather-card .temp {
  font-size: 56px;
  margin: 0 0 25px;
}

.weather-card-container .weather-card .condition {
  font-size: 28px;
  margin: 0 0 15px;
}

.weather-card-container .weather-card .condition img {
  vertical-align: middle;
  padding-right: 10px;
  width: 90px;
}

.weather-card-container .weather-card .wind {
  font-size: 28px;
  margin: 0 0 15px;
}